-- DropIndex
DROP INDEX "public"."NewsPost_companyId_idx";

-- AlterTable
ALTER TABLE "public"."TransactionalNotificationPreference" ADD COLUMN     "escalationJson" JSONB,
ADD COLUMN     "fallbackRecipientsJson" JSONB,
ADD COLUMN     "recipientsJson" JSONB;

-- CreateTable
CREATE TABLE "public"."TransactionalApproval" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "section" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "requesterId" TEXT NOT NULL,
    "approverIds" TEXT[],
    "status" "public"."ApprovalStatus" NOT NULL DEFAULT 'PENDING',
    "title" TEXT,
    "subtitle" TEXT,
    "diffSummary" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "approvedAt" TIMESTAMP(3),
    "approvedById" TEXT,

    CONSTRAINT "TransactionalApproval_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TransactionalNotificationLog" (
    "id" TEXT NOT NULL,
    "companyId" TEXT NOT NULL,
    "approvalId" TEXT,
    "section" TEXT NOT NULL,
    "employeeId" TEXT NOT NULL,
    "recipients" TEXT[],
    "status" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sentAt" TIMESTAMP(3),

    CONSTRAINT "TransactionalNotificationLog_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "TransactionalApproval_companyId_status_createdAt_idx" ON "public"."TransactionalApproval"("companyId", "status", "createdAt");

-- CreateIndex
CREATE INDEX "TransactionalApproval_companyId_section_idx" ON "public"."TransactionalApproval"("companyId", "section");

-- CreateIndex
CREATE INDEX "TransactionalNotificationLog_companyId_section_createdAt_idx" ON "public"."TransactionalNotificationLog"("companyId", "section", "createdAt");

-- AddForeignKey
ALTER TABLE "public"."TransactionalApproval" ADD CONSTRAINT "TransactionalApproval_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransactionalApproval" ADD CONSTRAINT "TransactionalApproval_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "public"."Employee"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransactionalApproval" ADD CONSTRAINT "TransactionalApproval_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransactionalApproval" ADD CONSTRAINT "TransactionalApproval_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TransactionalNotificationLog" ADD CONSTRAINT "TransactionalNotificationLog_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES "public"."Company"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

